.rmx, .je_hide, .je_show, .je_help, .je_movedown, .je_moveup {
	text-align: right; font-size: x-small; cursor: pointer;
}
.je_disabled {
    text-align: right; font-size: x-small; cursor: help; color: grey;
}
.je_topcontrols {
	text-align: right; 
	vertical-align: super;
	font-size: x-small; 
	font-family: Arial, sans-serif;
    float: right;
}
.jsonedit_tbl td {
	padding:0 2px;
}
.jsoneditor legend {
    margin-bottom:0;
    font-size:12px;
    color: #444;
}
.jsoneditor fieldset {
    border: 1px dotted #AAA;
    margin:2px 5px;
    padding:0 5px;
}
span:hover.je_userkey {
    border-style: solid;
    border-color: #444444;
    border-width: 1px;
}
.je_userkey {
    border-style: solid;
    border-color: #cccccc;
    border-width: 1px;
}

.je_helpdiv {
    border-style: solid;
    border-width: 1px;
    background-color: lightgoldenrodyellow;
 position: absolute;
 padding: 10px;
 padding-left: 30px;
}


.je_foreground {
    background-color: white;
}

.je_background {
    background-color: "#f0f0ff";
}

