/*.list_pages {
	margin-bottom:20px;
}
	.list_pages .some {
		margin-top:7px;
	}
	.list_pages .folder {
		width:16px;
		height:16px;
		margin-right:3px;
		margin-top:1px;
		float:left;
		font-size:1px;
		background-image:url('infra/infrajs/theme.php?pages/images/folder.png');
		background-repeat: no-repeat
	}
	.ie6 .list_pages .folder {
		background-image:	none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='infra/infrajs/theme.php?pages/images/folder.png',sizingMethod='crop')
	}
	.list_pages .file {
		width:16px;
		height:16px;
		margin-right:3px;
		float:left;
		font-size:1px;
		background-image:url('infra/infrajs/theme.php?pages/images/file.png');
		background-repeat: no-repeat
	}
	.ie6 .list_pages .file {
		background-image:	none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='infra/infrajs/theme.php?pages/images/file.png',sizingMethod='crop')
	}*/
