		.plugin_contacts {
			font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
			padding-bottom: 15px;
			text-align:left;
			padding-top:15px;
			padding-left:20px;
			padding-right:20px;
			width: 292px;
		}
		.plugin_contacts .sub_center label {
		}
		.plugin_contacts label {
			margin-top:5px;
			text-align: left;
			font-size: 14px;
			padding-top: 5px;
		}
		.plugin_contacts label span {
			color:red;
		}
		.ie6 .plugin_contacts form {
		}
		.opera .plugin_contacts form {
		}
		.plugin_contacts form {
			padding-bottom: 5px;
		}
		.plugin_contacts .answer {
			width: 290px;
		}
		.plugin_contacts input {
			width: 290px;
			height: 18px;
			padding-top: 2px;
			border: 1px solid #7f9db9;
			margin: 0 auto;
			margin-bottom:10px;
			margin-top:2px;
		}
		.plugin_contacts textarea {
			width: 290px;
			height:102px;
			border: 1px solid #7f9db9;
		}
		.plugin_contacts .submit {
			width:120px;
			margin: 0 auto;
			margin-top:7px;
			height: 22px;
			font-size:14px;
			padding-bottom: 5px;
			padding-top: 0px;
		}
