.wpopup h1 {
}
.wpopup {
	background-color:gray;
	background-image: url('infra/plugins/popup/popup_bg.png');
	border: 1px solid #797979;
	color: #424242;
	padding:0 18px;
}
.wpopup .title {
	cursor:move;
	font-size: 15px;
	line-height: 16px;
	padding: 8px 0 7px 0;
	text-align:right;
}
.wpopup .close {
	cursor:pointer;
	font-weight:normal;
	text-decoration:underline;
	font-size: 12px;
	line-height: 3px;
	color: red;
}
.wpopup .esc {
	font-size: 11px;
	/*color: #909090;*/
	padding: 6px 0;
}
.wpopup .pop_border {
	border: 1px solid #ccc;
}
	.wpopup #popup_body {
		background-color: #fff;
		border: 1px solid #eee;
		padding:10px;
		font-size: 14px;
	}
